<footer class="grey darken-3 page-footer">
  <div class="container">
    <div class="row">

      <div class="col l5 m6 offset-l1 s12">
        <ul>
          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github" style="font-size: 36px"></i>
              <span class="connect-user">{{ site.github_username }}</span>
            </a>
          </li>

          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://br.linkedin.com/in/mauricio-freitas-68bb0470">
              <i class="fa fa-linkedin-square" style="font-size: 36px"></i>
              <span class="connect-user">{{ site.author }}</span>
            </a>
          </li>

          <li>
            <a class="grey-text text-lighten-3" href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-square" style="font-size: 36px"></i>
              <span class="connect-user">{{ site.email }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col l4 m6 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          {% assign pages=site.pages | where:"lang", page.lang %}
          {% for page in pages %}
            {% if page.title %}
              <li><a class="grey-text text-lighten-3" href="{{ page.url | prepend: site.baseurl }}">
                <i class="fa {{ page.icon }} fa-fw"></i>
                {{ page.title }}
              </a></li>
            {% elsif page.ref == "index" %}
              <li><a class="grey-text text-lighten-3" href="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright grey darken-2">
    <div class="container">
      © 2016 {{site.author}}
    </div>
  </div>
</footer>
