<footer class="grey darken-3 page-footer">
  <div class="container">
    <div class="row">

      <div class="col l4 m6 offset-l2 s12">
        <ul>
          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://github.com/{{ site.github_username }}">
              <img alt="Github mark" src="{{"/assets/icons/GitHub-Mark-Light-32px.png" | prepend: site.baseurl }}">
              <span>{{ site.github_username }}</span>
            </a>
          </li>

          <li>
            <a class="grey-text text-lighten-3" target="_blank" href="https://br.linkedin.com/in/mauricio-freitas-68bb0470">
              <img alt="Linkedin logo" src="{{"/assets/icons/In-White-34px-R.png" | prepend: site.baseurl }}">
              <span>{{ site.author }}</span>
            </a>
          </li>

          <li>
            <a class="grey-text text-lighten-3" href="mailto:{{ site.email }}">
              <i class="material-icons" style="font-size: 34px">email</i>
              <span>{{ site.email }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col l4 m6 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
          {% assign pages=site.pages | where:"lang", page.lang %}
          {% for page in pages %}
            {% if page.title %}
            <li><a class="grey-text text-lighten-3" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright grey darken-2">
    <div class="container">
      © 2016 {{site.author}}
    </div>
  </div>
</footer>
