<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">

      <span class="site-title">{{ site.title }}</span>

      <ul id="nav-mobile" class="right">
        {% assign pages=site.pages | where:"lang", page.lang | where_exp:"item", "item.nav > 0" | sort:"nav" %}
        {% for page in pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}

        <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="lang-sel-dd">
          {{site.languages[page.lang]}}
          <i class="material-icons right">arrow_drop_down</i>
        </a></li>
      </ul>

    </div> <!-- nav-wrapper -->
  </div> <!-- container -->
</nav>

<!-- Dropdown Structure -->
<ul id="lang-sel-dd" class="dropdown-content">
  {% assign posts=site.posts | where:"ref", page.ref | sort: "lang"  %}
  {% for post in posts %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{site.languages[post.lang]}}</a></li>
  {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: "lang" %}
  {% for page in pages %}
    <li><a href="{{ page.url | prepend: site.baseurl }}">{{site.languages[page.lang]}}</a></li>
  {% endfor %}
</ul>
