<nav class="grey darken-2">
  <div class="container">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col l10 offset-l1 s12 truncate">
          {% assign pages=site.pages | where:"ref", "index" | where:"lang", page.lang %}
          {% for page in pages %}
            <a href="{{ page.url | prepend: site.baseurl }}" class="breadcrumb">Index</a>
          {% endfor %}
          <a href="#!" class="breadcrumb">{{ page.title }}</a>
        </div>
      </div>
    </div>
  </div>
</nav>
