/* The stylesheet for posts formating */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,700i|Quattrocento+Sans:400,400i,700,700i|Ubuntu+Mono');

.post-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

article p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
}

article h2 {
  font-size: 2.6rem;
}

article blockquote p {
  @extend .grey-text, .text-darken-2;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 400;
}

article strong {
  font-weight: 700;
}

article blockquote strong {
  font-weight: 700;
}
