
.connect-user {
  margin-left: 5px;
  vertical-align: baseline;
  position: relative;
  top: -10px;
}

.site-title {
  font-size: 2em;
}

.post-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

/* My own "Flow Text"
*
* Copied from the implementation on Materialize CSS.
* For me, the original seems too big for big screens, while for tablets and
* cellphones it's perfect. So I just modified the font-size for sizes bigger
* than 960px.
*/
.my-flow-text {
  font-weight: 300;
}

@media only screen and (min-width: 360px) {
  .my-flow-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .my-flow-text {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .my-flow-text {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .my-flow-text {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .my-flow-text {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .my-flow-text {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .my-flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .my-flow-text {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .my-flow-text {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .my-flow-text {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .my-flow-text {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .my-flow-text {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .my-flow-text {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .my-flow-text {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .my-flow-text {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .my-flow-text {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .my-flow-text {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .my-flow-text {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .my-flow-text {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .my-flow-text {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .my-flow-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 360px) {
  .my-flow-text {
    font-size: 1.2rem;
  }
}
