---
layout: default
---
<nav class="grey darken-2">
  <div class="container">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col l10 offset-l1 s12 truncate">
        {% assign pages=site.pages | where:"ref", "index" | where:"lang", page.lang %}
        {% for page in pages %}
          <a href="{{ page.url | prepend: site.baseurl }}" class="breadcrumb">Index</a>
        {% endfor %}
          {% for cat in page.categories %}
            <a href="#!" class="breadcrumb">{{ cat | capitalize }}</a>
          {% endfor %}
          <a href="#!" class="breadcrumb">{{ page.date | date: "%b %-d, %Y" }}</a>
          <a href="#!" class="breadcrumb">{{ page.title }}</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col l10 offset-l1 s12">

      <header class="post-header">
        <h3 class="blue-text">{{ page.title }}</h3>
        <div>
          {% for tag in page.tags %}
            <span class="chip">{{ tag | replace:"_", " " | upcase }}</span>
          {% endfor %}
        </div>
      </header>

      <article class="my-flow-text">
        {{ content }}
      </article>

    </div>
  </div>
</div>
